<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.myproject.repository.BoardDAO">
	<insert id="insert"
		parameterType="com.ezen.myproject.domain.boardVO">
		insert into board(title,writer,content)
		values(#{title},#{writer},#{content})
	</insert>
	<select id="selectBno" resultType="int">
		select max(bno) from board
	</select>
	<select id="getList"
		resultType="com.ezen.myproject.domain.boardVO">
		select * from board b
		left join (select bno,count(bno)cmt_count from comment group by bno)c using(bno)
		left join (select bno,count(bno)file_count from file group by bno)f using(bno)
		where isDel= "N"
		<include refid="search"></include>
		order by bno desc limit #{pageStart},#{qty}
	</select>



	<select id="getDetail" parameterType="int"
		resultType="com.ezen.myproject.domain.boardVO">
		select * from board where bno=#{bno}
	</select>
	<update id="readcount" parameterType="int">
		update board set read_count=read_count+ #{cnt} where bno=#{bno}
	</update>
	<update id="modify"
		parameterType="com.ezen.myproject.domain.boardVO">
		update board set title=#{title},content=#{content} where bno=#{bno}
	</update>
	<update id="remove" parameterType="int">
		update board set isDel="Y" where bno=#{bno}
	</update>
	<select id="totalcount" resultType="int">
		select count(*) from board where isDel="N"
		<include refid="search"></include>
	</select>

	<sql id="search">
		<if test="type != null">
			<trim prefix="and " suffixOverrides=" OR ">
				<foreach collection="typeToArray" item="type">
					<trim suffix=" OR ">
						<choose>
							<when test="type =='t'.toString()">
								title like concat('%',#{keyword},'%')
							</when>
							<when test="type =='c'.toString()">
								content like concat('%',#{keyword},'%')
							</when>
							<when test="type =='w'.toString()">
								writer like concat('%',#{keyword},'%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
</mapper>